*{
    box-sizing: border-box;
}
.headerContainer{
    border:solid 2px black;
}


:root{
    --header-bg-colour: #FFAE00;
    --header-colour: #383416;
    --footer-bg-colour: #383416;
    --footer-colour: #fff;
}
body {
    font-family: helvetica, arial, sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    background-color: peachpuff;
}

.headerContainer, .footerContainer {
    width: 100%;
}
.mainContainer{
    margin: 0 0 120px 0;
    padding: 0 10px;
}

.headerContainer {
    background-color: var(--header-bg-colour);
    color: var(--header-colour);
    margin:0;
    padding:0;
}

header h1 {
    margin: 0;
}

header h1 a {
    color: #fff;
    text-decoration: none;
}
header>div:last-child{
    position:relative;
}
.mainNav {
    position: absolute;
    left:-100%;
    top:-1px;
    transition: left 0.5s;
    background-color: var(--header-bg-colour);
    color: var(--header-colour);
    width:100%;
}

.mainNav > menu {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.mainNav > menu li {
    border-bottom: 1px solid var(--header-colour);
    padding: 5px;
}

.mainNav >menu > li > a {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: var(--header-colour);
    padding: 8px 0;
}
.topBar{
    display: flex;
    justify-content: space-between;
    padding:10px;
}

.topBar img{
    max-width: 100%;
    max-height: 100%;
    width: 100px;
    height: 100px;
    display: block;
    z-index: 1;
    filter: none;
}

/* burger menu */
.burger {
    margin-top: 1.8rem;
}
.burger>.line {
    width: 35px;
    height: 5px;
    background-color: var(--header-colour);
    margin: 6px 0;
    transition: transform 0.4s;
}

/* Rotate first bar */
.burger.changeBurger>.line:first-child {
    transform: translate(0, 11px) rotate(-45deg);
}

.burger.changeBurger>.line:nth-child(2) {
    opacity: 0;
}

.burger.changeBurger>.line:last-child {
    transform: translate(0, -11px) rotate(45deg);
}
.homePage>div{
    flex:1 1 50%;
    padding:10px;
}
.homePage>div>a{
	color: var(--header-colour);
	text-decoration: none;
}

/* table styles */
table {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
}

th,
td {
  padding: 10px 4px;
  text-align: left;
}

th {
  text-transform: uppercase;
  border-bottom: 4px solid #000;
  background-color: #fff;
}

tr:nth-child(odd) {
  background-color: #ccc;
}
.uc{
	text-transform: uppercase;
}

/* form styles */
form>div {
    margin: 15px 0;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

input[type="submit"] {
    margin: 10px auto;
    text-align: center;
    width: 100%;
    padding: 15px;
}

.row{
    
    display: flex;
    justify-content: space-evenly;
    overflow-x: scroll;
    margin-top: 10px;
    background-color: peachpuff;
    padding-top: 20px;
    
}

.row div img:hover{
    cursor: pointer;
    transform: scale(1.1);

}
#nextbutton,#backbutton{
    width: 50px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.row span{
    padding: 5px;
}


.row div{
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 10px;
flex: none;
padding: 10px;
}
.row::-webkit-scrollbar{
    display: none;
}

.row-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% auto;
}
.container div h1{
    font-size: medium;
}

.logo img{
    max-width: 100%;
    max-height: 100%;
    justify-content: center;
    width: 100px;
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 2rem;
    position: absolute;
    z-index: 1;
    left: 38%;
    filter: none;
    
}
div img{
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    transition:transform 0.5s;
    padding-left: 5px;

}

h1.banner{

    background-color: #FFAE00;
    border: black 1px solid;
    border-radius: 25px;
    width: 40%;
    font-size:large;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
.contact{

    background-color: #4d3e29;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: medium;
    width: 60%;
    border-radius: 20px;
}
.contact ul{
    padding: 0px;
}
.map img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 400px;
    height: 300px;
}
.contact p{
    margin: 0;
}
.contact ul{
    padding: 5px;
}

.section1{
    font-size: medium;
    background-color: gray;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    margin: auto;
}

h2.second{
    background-color:#4d3e29 ;
    color: #fff;
    border-radius: 25px;
    width: 40%;
    border: solid black 2px;
    text-align: center;
    margin: auto;
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
  }

.section2{
    background-color:lightslategrey;
    border-radius: 25px;
    margin: auto;
    padding-top: 10px;
    margin-bottom: 20px;
}
.section2 li{
    padding-left: 5px;
    text-align: left;
    padding-bottom: 10px;
  }
h1.Rules{
    background-color:#c7a36d;
    border: black 2px solid;
    border-radius: 25px;
    width: 60%;
    font-size: medium;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.intro{
    text-decoration: underline;
  }
h2.first{
margin: auto;
background-color: #4d3e29;
color: #fac350;
border-radius: 25px;
text-align: center;
width: 40%;
margin-top: 20px;
}

h3.second{
    background-color: burlywood;
    color: black;
    border-radius: 25px;
    margin: auto;
    text-align: center;
    width: 60%;
    border: solid black 2px;
    margin-top: 30px;
    margin-bottom: 5px;
}

h3.third{
    margin: auto;
    text-align: center;
    width: 40%;
    background-color: #4d3e29;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    margin-top: 30px;
    font-size: medium;
    border: #fac350 2px solid;

}
.container2 p{
    background-color: peachpuff;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 60%;
    font-size: medium;
    padding: 10px;
    border: solid black 2px;
}

h2.third{
    margin: auto;
    width: 40%;
    text-align: center;
    background-color: #4d3e29;
    border-radius: 25px;
    color: antiquewhite;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: medium;
    border: #fac350 2px solid;
    padding: 5px 5px 5px 5px;
}

.container2 li{
    background-color:#c7a36d;
    color: black;
    border-radius: 25px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
    padding:5px 5px 5px 5px;
    border: black solid 2px;
}

.container3 p{
    background-color: #4d3e29;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 25px;
    width: 70%;
    margin: auto;
    padding: 20px;
}
.container3 div{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contactUs{
    width: 65%;
    font-size: medium;
    background-color: #4d3e29;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    margin-top: 20px;

}
.contactUs p{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;

}

.homePage{
    background-color: #4d3e29;
    border-radius: 25px;
    margin: auto;
    padding: 10px;
    text-align: center;
    font-size: medium;
}
.homePage p{
    text-align: center;
    margin-top: 0;
    color: #fff;
}

div.searchForm{
    margin: auto;

}