
.container {
  
    background-color:peachpuff;
    color: white;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    
    
  }

h1{
background:#4d3e29;
color: #fac350;
border: 2px solid #fac350;
width: 100%;
text-align: center;
margin: auto;
}


.container div  {
    background: #4d3e29;
    border: 2px solid #fac350;
    padding:10px;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
  a:hover {
    color: blue;

  }
  a:link{
    color: #fac350;
  }
  a:visited{
    color: white;
  }
  a:active{
    color:white
  }

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  width: 100%;
}
.row div{

  padding: 5px;
  width: 25%;
  height: 25%;
  align-items: center;
  gap: 5px;
}


div.first-paragraph{
  padding-left: 5px;
}

body{
  background-color: antiquewhite;
}

.column{
  float: left;
  width: 20%;
  padding: 5px;
  width: 20%;
  height: 20%;
  
}
h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  text-decoration: underline;
  padding-left: 10px;
}
h3{
  padding-left: 10px;
}
.contact{
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  margin: 0;
  display: flex;
  width: 25%;

}
.contact p{
  margin: 0;

}
 .contact ul{
  padding: 5px;
  padding-top: 0%;
  padding-bottom: 0%;
}
.first-para, .second-para, .third-para{
  background-color: #4d3e29;
  border: solid 1px #fac350;
  color: white;
  padding-left: 5px;
}

div h2{
  background-color: #4d3e29;
  border: #fac350 solid 2px;
  color: #fac350;
  width: 10%;
  height: 50px;
  padding-top: 25px;
  margin-top: 20px;
  margin-bottom: 0;
}
#heading{
  padding-top: 20px;
  padding-bottom: 20px;
}
header{
  background-image: url(../website-images-assets/IMG_1437.jpeg) ;
  
}