
.container {
  
    background-color:peachpuff;
    color: white;
   padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    width:100%;
    
    
  }

h1{
background:#4d3e29;
color: #fac350;
border: 2px solid #fac350;
width: 100%;
text-align: center;
margin: auto;
}




.container div {
    background: #4d3e29;
    border: 2px solid #fac350;
    padding:10px;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
  }
  a:hover {
    color: blue;

  }
  a:link{
    color: #fac350;
  }
  a:visited{
    color: purple;
  }
  a:active{
    color:white
  }

.photo{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly;
  margin: 10px 0px 10px 0px;
}
.photo div{

  padding: 5px;
  width: 25%;
  height: 25%;
  align-items: center;
  gap: 5px;
}

p{

  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  flex-wrap: wrap;
  display: flex;
  background-color: antiquewhite;
}
div.first-paragraph{
  padding-left: 5px;
}

body{
  background-color: antiquewhite;
}
